   
  
</body>
<script>
  
  var page = document.getElementById('page');
  if(page.value == 1){
      document.getElementById('first').style.pointerEvents = 'none';
      document.getElementById('prev').style.pointerEvents = 'none';
  }
  else if(page.value == 30){
      document.getElementById('last').style.pointerEvents = 'none';
      document.getElementById('next').style.pointerEvents = 'none';
  }

  function show(){
      document.getElementById('secondFilter').style.display = 'block';
  }
</script>
</html>