<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        table{
            border-collapse: collapse;
            margin-top: 10px;
        }
        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .form input{
            width: 500px;
        }
    </style>
</head>
<body onload="change()">
   
