<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>less Data</title>
    <style>
        body{
            background-color: rgb(235, 233, 221);
        }
        table{
            border-collapse: collapse;
        }
        table tr td,th{
            padding: 10px;
        }
        td a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
        .home{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
    </style>
</head>
<body>
    <h1 align="center">Data Deleted...</h1>
      <div class="home">
          <a href="/file/lessDetails.ejs">Back to Details</a>
      </div>
    </body>
</html>