<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to dashboard</h1>
    <a href="http://localhost:3000/login">logout</a>
    <a href="/views/Table" target="_blank">Dyanamic Table</a>
    <a href="/views/Table-Game/" target="_blank">Kuku-Cube</a>
    <a href="/views/Tic-Tac-Toe/" target="_blank">Tic-Tac-Toe</a>
    <a href="/views/Event/" target="_blank">Event Handling</a>
    <a href="/json/" target="_blank">jsonPlaceHolder</a>
    <a href="/views/state" target="_blank">State and City</a>
    <a href="/partForm" target="_blank">Part Form with Ajax</a>
    <a href="/timezone" target="_blank">TimeZone with Input</a>
    <a href="/timezonew" target="_blank">TimeZone without Input</a>
    <a href="/fps" target="_blank">Search With Id and Other Details</a>
    <a href="/fpsr" target="_blank">Student Result Report</a>
    <a href="/page" target="_blank">Pagination with Filter</a>
    <a href="/file" target="_blank">Form Handle with json file</a>
    <a href="/comp" target="_blank">Dyanamic Component Generator</a>

</body>
</html>