
</body>

<script>
       

         function showError(){
            document.getElementById('hidden').style.display = 'none';
         }
        function validation(){
           var div = document.getElementById('hidden');
           var p = document.getElementById('error');
           var fname = document.getElementById('fname');
           var lname = document.getElementById('lname');
           var email = document.getElementById('email');
           var des = document.getElementById('des');
           var add1 = document.getElementById('add1');
           var add2 = document.getElementById('add2');
           var num = document.getElementById('num');
           var city = document.getElementById('city');
           var dob = document.getElementById('dob');
           var zip = document.getElementById('zip'); 
           var sscn = document.getElementById('sscn'); 
           var sscy = document.getElementById('sscy'); 
           var sscp = document.getElementById('sscp'); 
           var hscn = document.getElementById('hscn'); 
           var hscy = document.getElementById('hscy'); 
           var hscp = document.getElementById('hscp'); 
           var bdn = document.getElementById('bdn'); 
           var bcourse = document.getElementById('bcourse'); 
           var bdy = document.getElementById('bdy'); 
           var bdp = document.getElementById('bdp'); 
           var notice = document.getElementById('notice');
           var ectc = document.getElementById('ectc');
           var cctc = document.getElementById('cctc');
           var mdn = document.getElementById('mdn');
           var mcourse = document.getElementById('mdy');
           var mdy = document.getElementById('mdy');
           var mdp = document.getElementById('mdp');
           var cfrom = document.getElementById('cfrom');
           var cto = document.getElementById('cto');
           var hindi = document.getElementById('hindi');
           var guj = document.getElementById('guj');
           var eng = document.getElementById('eng');
           var hread = document.getElementById('hread');
           var eread = document.getElementById('eread');
           var gread = document.getElementById('gread');
           var hwrite = document.getElementById('hwrite');
           var ewrite = document.getElementById('ewrite');
           var gwrite = document.getElementById('gwrite');
           var hspeak = document.getElementById('hspeak');
           var espeak = document.getElementById('espeak');
           var gspeak = document.getElementById('gspeak');
           var php = document.getElementById('php');
           var rphp = document.getElementById('rphp');
           var oracle = document.getElementById('oracle');
           var roracle = document.getElementById('roracle');
           var mysql = document.getElementById('mysql');
           var rmysql = document.getElementById('rmysql');
           var larvel = document.getElementById('larvel');
           var rlarvel = document.getElementById('rlarvel');
           var refname = document.getElementById('refname');
           var refcon = document.getElementById('refcon');
           var refrel = document.getElementById('refrel');
           var notice = document.getElementById('notice');
           var ctc = document.getElementById('ctc');
           var ectc = document.getElementById('ectc');

           var arr = [fname,lname,email,des,num,city,dob,zip,sscn,sscp,sscy,hscn,hscp,hscy,bdn,bcourse,bdy,bdp,notice,ectc,cctc];
           var actualName = ['first name','last name','email','Designation','Phone','city','date of birth','zip code','ssc board','ssc year','ssc percentage','hsc board','hsc year','hsc percentage','bachelor board','bachelor course','bachelor year','bachelor percentage','notice period','expected ctc','current ctc'];
           for(var i=0;i<arr.length;i++){
               if(arr[i].value == ''){
                p.innerText = `please enter ${actualName[i]}`;
                div.style.display = 'block';
                return false;
               }
            }
            if(add1.value == '' && add2.value == ''){
                p.innerText = `please enter address1 or address2`;
                div.style.display = 'block';
                return false;
            }
            var nre = "^[6-9]{1}[0-9]{9}$";
            var ereg = "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"; 
            if(!(email.value.match(ereg))){
                p.innerText = `please enter valid email`;
                div.style.display = 'block';
                return false;
            }
            if(!(num.value.match(nre))){
                p.innerText = `please enter valid number`;
                div.style.display = 'block';
                return false;
            }
            var date = '[1-9][0-9][0-9]{2}-([0][1-9]|[1][0-2])-([1-2][0-9]|[0][1-9]|[3][0-1])';
   
            if(!(dob.value.match(date))){
               p.innerText = `please enter valid Date of Birth`;
               div.style.display = 'block';
               return false;
            }
         
            if( isNaN(zip.value) || zip.value.length != 6){
               p.innerText = `please enter valid zipcode`;
               div.style.display = 'block';
               return false;
            }
            if( isNaN(sscy.value) || isNaN(hscy.value) || isNaN(bdy.value)){
               p.innerText = `please enter year`;
               div.style.display = 'block';
               return false;
            }
            if( sscy.value.length != 4 || hscy.value.length != 4 || bdy.value.length != 4 ){
               p.innerText = `please enter valid year`;
               div.style.display = 'block';
               return false;
            }
            if( isNaN(sscp.value) || isNaN(hscp.value) || isNaN(bdp.value)){
               p.innerText = `please enter number for percentage`;
               div.style.display = 'block';
               return false;
            }
            if( sscp.value.length != 2 || hscp.value.length != 2 || bdp.value.length != 2){
               p.innerText = `please enter valid percentage`;
               div.style.display = 'block';
               return false;
            }
            if(mdn.value != '' || mcourse.value != '' || mdy.value != '' || mdp.value != ''){
               var arr = [mdn,mcourse,mdy,mdp];
               var actualName = ['University of Master','Course Name of Master','Passing Year of master','Percantage of master'];
               for(var i=0;i<arr.length;i++){
                  if(arr[i].value == ''){
                  p.innerText = `please enter ${actualName[i]}`;
                  div.style.display = 'block';
                  return false;
                 }
               }
            }
         if(hindi.checked != true && eng.checked != true && guj.checked != true){
                  alert("language alert");
                  p.innerText = `please select any language that you know`;
                  div.style.display = 'block';
                  return false;
         }
         if(hindi.checked == true){
            if(hread.checked != true && hspeak.checked != true && hwrite != true){
                  p.innerText = `please select language know type`;
                  div.style.display = 'block';
                  return false;
               }
         }
         if(guj.checked == true){
            if(gread.checked != true && gspeak.checked != true && gwrite != true){
                  p.innerText = `please select language know type`;
                  div.style.display = 'block';
                  return false;
            }
         }
         if(eng.checked == true){
            if(eread.checked != true && espeak.checked != true && ewrite != true){
                  p.innerText = `please select language know type`;
                  div.style.display = 'block';
                  return false;
               }
         }
         if(php.checked == true){
            var getSelectedValue = document.querySelector( 'input[name="rphp"]:checked');  
            if(getSelectedValue == null) {   
                  p.innerText = `please select level of technologie`;
                  div.style.display = 'block';
                  return false;
               }
         }
         if(mysql.checked == true){
            var getSelectedValue = document.querySelector( 'input[name="rmysql"]:checked');
            if(getSelectedValue == null) {    
               p.innerText = `please select level of technologie`;
               div.style.display = 'block';
               return false;
            }
         }
         if(larvel.checked == true){
            var getSelectedValue = document.querySelector( 'input[name="rlarvel"]:checked');
            if(getSelectedValue == null) {      
               p.innerText = `please select level of technologie`;
               div.style.display = 'block';
               return false;
            }
         }
         if(oracle.checked == true){
            var getSelectedValue = document.querySelector( 'input[name="roracle"]:checked');   
            if(getSelectedValue == null) {   
               p.innerText = `please select level of technologie`;
               div.style.display = 'block';
               return false;
            }
         }
         var getSelectedValue = document.querySelectorAll( 'input[name="refcon"]');
         console.log(getSelectedValue[0]);
   
         if(refcon.value != '' || refname.value != '' || refrel.value != ''){
               if(refcon.value == ''){
                  p.innerText = `please enter refrence contact number `;
                  div.style.display = 'block';
                  return false;
               }
               if(refname.value == ''){
                  p.innerText = `please enter referance contact name `;
                  div.style.display = 'block';
                  return false;
               }
               if(refrel.value == ''){
                  p.innerText = `please enter referance contact relationship `;
                  div.style.display = 'block';
                  return false;
               }
         }
         if( isNaN(notice.value) || isNaN(cctc.value) || isNaN(ectc.value)){
                  p.innerText = `please enter valid details for preferance. `;
                  div.style.display = 'block';
                  return false;
         }
         
      }
      // function work(){
      //    var table = document.getElementById('work');
      //    var p = table.innerHTML;
      //    table.innerHTML = p + `<tr>
      //           <td>Company name</td>
      //           <td><input type="text" name="cname" id="cname"></td>
      //           <td>Designation</td>
      //           <td><input type="text" name="cdes" id="cdes"></td>
      //           <td>From</td>
      //           <td><input type="text" name="cfrom" id="cfrom"></td>
      //           <td>To</td>
      //           <td><input type="text" name="cto" id="cto"></td>
      //       </tr>`;
      // }
      // function ref(){
      //    var table = document.getElementById('referances');
      //    var p = table.innerHTML;
      //    table.innerHTML = p + `<tr>
      //           <td>Name</td>
      //           <td><input type="text" name="refname" id="refname"></td>
      //           <td>Contact Number</td>
      //           <td><input type="text" name="refcon" id="refcon"></td>
      //           <td>Relation</td>
      //           <td><input type="text" name="refrel" id="refrel"></td>
      //       </tr>`;
      // }
</script>
</html>