<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <style>
        fieldset{
    border-radius: 20px ;
    width: 900px;
    margin-left: 220px;
    padding: 20px;
    margin-bottom: 30px;
  }
table tr td .line{
    border-bottom: 2px solid black;
}
.edu tr{
    width: 10%;
}
.edu td{
    width: fit-content;
}
.eduf{
    margin-left: 0px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .submit input{
    margin-left: 10px;
  }
  #hidden{
    display: none;
    background-color: red;
    border: 2px solid black;
    width: 500px;
    height: 50px;
    margin-left: 425px;
  }
  #hidden h2{
    position: relative;
    right: -470px;
    top: -45px;
    color: white;
    cursor: pointer;
  }
  #error{
    text-align: center;
    color: white;
  }
</style>
</head>
<body>
    