<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(235, 233, 221);
        }
        .main{
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 20px;
        }
        .main a{
            text-decoration: none;
            color: blue;
            border: 2px solid black;
            padding: 10px;
            background-color: orange;
        }
    </style>
</head>
<body>
    <h1 align="center">Hareshkumar Chauhan 24DEV006</h1>
    <h1 align="center">welcome to registration form</h1>
    <div class="main">
        <a href="http://localhost:3000/insertPage">Insert...</a>
        <a href="http://localhost:3000/show/">Update...</a>
    </div>
</body>
</html>
