<%- include('header') %>
 <h1 align = "center">Job Application Form</h1>
 <h1 align = "center">For Update localhost:3000/insert/update/20</h1>
     <div id="hidden">
        <p id="error"></p>
        <h2 id="cancel" onclick="showError()">-</h2>
     </div>
    <form action="/form" name="form2" method="post" onsubmit=" return validation();">
    <fieldset>
        <legend>Basic Details</legend>
      <div class="basic">
            <p class="error"></p>
        <table align="center">
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname" id="fname" /></div></td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td><input type="text" name="des" id="des" /></td>
                <td>Last Name:</td>
                <td><input type="text" name="lname" id="lname" /> </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" id="email" /></td>
                <td>Address 1:</td>
                <td><input type="text" name="add1" id="add1" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="num" id="num" /></td>
                <td>Address 2:</td>
                <td><input type="text" name="add2" id="add2" /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>Male<input type="radio" name="gender" id="male" class="rg" value="male" checked/>
                    Female<input type="radio" name="gender" id="female" class="rg"  value="female"/></td>
                <td>City:</td>
                <td><input type="text" name="city" id="city" /></td>
            </tr>
            <tr>
                <td>RelationShip Status:</td>
                <td><select name="status" id="status">
                    <option value="defualt" disabled>Select Status</option>
                    <option value="married">married</option>
                    <option value="unmarried">unmarried</option>
                  </select></td>
                <td>State:</td>
                <td><select name="state" id="state">
                    <option value="1" disabled>Select State</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Maharastra">Maharastra</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Rajasathan">Rajasathan</option>
                    <option value="6">Hariyana</option>
                    <option value="Hariyana">Punjab</option>
                    <option value="Bihar">Bihar</option>
                    <option value="tamilnadu">tamilnadu</option>
                    <option value="Assam">Assam</option>
                  </select></td>
            </tr>
            <tr>
                <td>DOB:</td>
                <td><input type="text" name="dob" id="dob" /></td>
                <td>Zip Code:</td>
                <td><input type="text" name="zip" id="zip" /></td>
            </tr>
        </table>
       </div>
    </fieldset>

    <fieldset class="eduf">
        <legend>Education Details</legend>
        <p class="error"></p>
          <table class="edu">
           <tr>
            <td colspan="2">SSC Result</td>
           </tr>
           <tr>
            <td colspan="2">Name of board</td>
            <td><input type="tel" name="sboard" id="sscn"></td>
            <td colspan="1">Passiong Year</td>
            <td><input type="text" name="syear" id="sscy"></td>
            <td>Percentage</td>
            <td><input type="text" name="sper" id="sscp"></td>
            <tr>
                <td colspan="8">
                    <h4 class="line"></h4>
                </td>
            </tr>
        </tr>
           <tr>
            <td colspan="2">HSC/Diploma Result</td>
           </tr>
           <tr>
            <td colspan="2">Name of board</td>
            <td><input type="tel" name="hboard" id="hscn"></td>
            <td colspan="1">Passiong Year</td>
            <td><input type="text" name="hyear" id="hscy"></td>
            <td>Percentage</td>
            <td><input type="text" name="hper" id="hscp"></td>
           </tr>
           <tr>
            <td colspan="8">
                <h4 class="line"></h4>
            </td>
        </tr>
           <tr>
            <td colspan="2">Bachelor degree</td>
           </tr>
           <tr>
            <td>University</td>
            <td><input type="tel" name="bboard" id="bdn"></td>
            <td>Course Name</td>
            <td><input type="text" name="bcourse" id="bcourse"></td>
            <td>Passiong Year</td>
            <td><input type="text" name="byear" id="bdy"></td>
            <td>Percentage</td>
            <td><input type="text" name="bper" id="bdp"></td>
           </tr>
           <tr>
            <td colspan="8">
                <h4 class="line"></h4>
            </td>
        </tr>
           <tr>
            <td colspan="2">Master degree</td>
           </tr>
           <tr>
            <td>University</td>
            <td><input type="tel" name="mboard" id="mdn"></td>
            <td>Course Name</td>
            <td><input type="text" name="mcourse" id="mcourse"></td>
            <td>Passiong Year</td>
            <td><input type="text" name="myear" id="mdy"></td>
            <td>Percentage</td>
            <td><input type="text" name="mper" id="mdp"></td>
           </tr>
          </table>   

    </fieldset>

    <fieldset>
        <legend>Work Experience</legend>
        <p class="error"></p>
        <input type="button" value="+" onclick="work_add()">
        <input type="button" value="-" onclick="work_del()" id="work_minus">
        <table id="work">
            <tr>
                <td>Company name</td>
                <td><input type="text" name="cname" class="cname"  value=""></td>
                <td>Designation</td>
                <td><input type="text" name="cdes" class="cdes"  value=""></td>
                <td>From</td>
                <td><input type="text" name="cfrom" class="cfrom" value=""></td>
                <td>To</td>
                <td><input type="text" name="cto" class="cto" value=""></td>
            </tr>
        </table>

    </fieldset>
     <fieldset>
        <legend>Language known</legend>  
        <p class="error"></p>
            <table>
                <tr>
                    <td><input type="checkbox" name="hindi" id="hindi" value="Hindi">Hindi</td>
                    <td><input type="checkbox" name="hindi" id="hread"  value="Read">Read</td>
                    <td><input type="checkbox" name="hindi" id="hwrite" value="Write">Write</td>
                    <td><input type="checkbox" name="hindi" id="hspeak" value="Speak">Speak</td>
                </tr>
                <tr>
                    <td> <input type="checkbox" name="english" id="eng" value="English">English</td>
                    <td><input type="checkbox" name="english" id="eread" value="Read">Read </td>
                    <td><input type="checkbox" name="english" id="ewrite" value="Write">Write</td>
                    <td><input type="checkbox" name="english" id="espeak" value="Speak">Speak</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="gujarati" id="guj" value="Gujarati">Gujarati</td>
                    <td><input type="checkbox" name="gujarati" id="gread" value="Read">Read</td>
                    <td><input type="checkbox" name="gujarati" id="gwrite" value="Write">Write</td>
                    <td><input type="checkbox" name="gujarati" id="gspeak" value="Speak">Speak</td>
                </tr>
            </table>
     </fieldset>
     <fieldset>
        <legend>Technologies you know</legend>
        <p class="error"></p>
        <table>
            <tr>
                <td><input type="checkbox" name="php" id="php" value="php">PHP</td>
                <td><input type="radio" name="rphp" class="rphp" value="Beginer">Beginer</td>
                <td><input type="radio" name="rphp" class="rphp" value="Mediater">Mediater</td>
                <td><input type="radio" name="rphp" class="rphp" value="Expert">Expert</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="mysql" id="mysql" value="mysql">Mysql</td>
                <td><input type="radio" name="rmysql"  class="rmysql" value="Beginer">Beginer</td>
                <td> <input type="radio" name="rmysql"  class="rmysql" value="Mediater">Mediater</td>
                <td><input type="radio" name="rmysql" class="rmysql" value="Expert"> Expert</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="larvel" id="larvel" value="larvel">Larvel</td>
                <td><input type="radio" name="rlarvel" class="rlarvel" value="Beginer">Beginer</td>
                <td><input type="radio" name="rlarvel" class="rlarvel" value="Mediater">Mediater</td>
                <td><input type="radio" name="rlarvel" class="rlarvel" value="Expert">Expert</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="oracle" id="oracle" value="oracle">Oracle</td>
                <td><input type="radio" name="roracle"  class="roracle" value="Mediater">Mediater</td>
                <td><input type="radio" name="roracle"  class="roracle" value="Beginer">Beginer</td>
                <td> <input type="radio" name="roracle" class="roracle" value="Expert">Expert</td>
            </tr>
        </table>
     </fieldset>
     <fieldset>
        <legend>referances</legend>
        <p class="error"></p>
        <input type="button" value="+" onclick="ref_add()">
        <input type="button" value="-" onclick="ref_del()">
        <table id="ref">
            <tr>
                <td>Name</td>
                <td><input type="text" name="refname" class="refname"></td>
                <td>Contact Number</td>
                <td><input type="text" name="refcon" class="refcon"></td>
                <td>Relation</td>
                <td><input type="text" name="refrel" class="refrel"></td>
            </tr>
        </table>
     </fieldset>
     <fieldset>
        <legend>Preferances</legend>
        <p class="error"></p>
        <table>
            <tr>
                <td>Perferd location</td>
                <td><select name="loc" id="loc">
                    <option value="defualt" disabled>select location</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="surat">Surat</option>
                    <option value="rajkot">Rajkot</option>
                </select></td>
                <tr >
                    <td>Notice period</td>
                    <td><input type="text" name="notice" id="notice"></td>
                    <td>Expacted CTC</td>
                    <td><input type="text" name="ectc" id="ectc"></td>
                    <td>Current CTC</td>
                    <td><input type="text" name="cctc" id="cctc"></td>
                </tr>
                <tr>
                    <td rowspan="2">Department</td>
                    <td>  <select name="dept" id="dept">
                        <option value="1" disabled>Select Department</option>
                        <option value="Software Devloper">Software Devloper</option>
                        <option value="Web Designer">Web Designer</option>
                        <option value="Bussiness analyst">Bussiness analyst</option>
                        </select>
                    </td>
                </tr>
            </tr>
        </table>
     </fieldset>  
     <div class="submit">
        <input type="reset" value="reset">
        <input type="submit" value="submit">
    </div>

  </form>

<%- include('footer') %>