<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awanhoster</title>
    <link rel="stylesheet" href="/awanhoster/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="head">
            
            <div class="logo">
             <img src="/awanhoster/Group 3478.png" alt="">
            </div>

            <div class="list">
                <ul>
                    <li>Hosting</li>
                    <li>Integration</li>
                    <li>Pricing</li>
                    <li>Community</li>
                    <a href="">Login</a>         
                </ul>
            </div>
        </div>
    </header>
    <hr>
   <main>

       <section class="sect1">
            <div class="sect1main">
                <div class="sect1text">
                   
                  <div class="sect11">
                   <h1>Hosting Services for Your Website</h1>
                  </div>
   
                  <div class="sect12">
                   <p>Easily and reliably host a website for your business, organization, or project while retaining complete control over your site's underlying infrastructure.</p>
                  </div>
   
                  <div class="sect13">
                     <input type="button" value="Get Started">
                     <input type="button" value="Get Migration Help">
                  </div>
                  <div class="imgarrow">
                      <img src="/awanhoster/arrow-down.png" alt="">
                  </div>
                </div>
                <div class="sect1img">
                  <img src="/awanhoster/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                </div>
               </div>
       </section>

        <section class="sect2">
                <div class="sect2main">
                    <div class="sect21">
                        <p>Those Who Have Experienced The Best Performance</p>
                    </div>
                    <div class="sect22">
                    <img src="Telkom Indonesia Logo.png" alt="">
                    </div>
                    <div class="sect23">
                        <img src="/awanhoster/Jetstar Airways Logo.png" alt="">
                    </div>
                    <div class="sect24">
                      <img src="/awanhoster/Nescafe Logo.png" alt="">
                    </div>
                    <div class="sect25">
                      <img src="/awanhoster/Lenovo Logo.png" alt="">
                    </div>
                </div>
        </section>
          
        <section class="sect3">

            <div class="sect3main">
                <div class="sect3img">
                     <img src="/awanhoster/Group 3552.png" alt="">
                </div>

                <div class="sect3text">
                   <div class="sect31">
                     <h2>Boost the Speed of Your Website</h2>
                   </div>
                   <div class="sect32">

                           <div class="sect333">
                            <h3>Faster Build Process</h3>
                            <p>We can speed up the process of creating your website</p>
                           </div>
                           <div class="sect333">
                            <h3>Faster Delivery</h3>
                            <p>Our purchases and services can be completed quickly</p>
                           </div>
                            <div class="sect333">
                                <h3>Faster Access Speed</h3>
                                <p>Superb network infrastructure and hardware to support fast and stable access</p>
                            </div>
                            <div class="sect333">
                                <h3>24/7 Faster Service</h3>
                                <p>We have a response time of less than 180 seconds, available 24 hours a day</p>
                            </div>
                   </div>
                </div>
            </div>

        </section>

        <section class="sect4">
                
            <div class="sect4main">
                <div class="sect4text">
                    <h2>Host Any Website With Our Fully Managed Services</h2>
                </div>
                <div class="sect4box">
                   
                    <div class="cols">

                        <div class="box">
                          <div class="inbox">
                              <h4><img src="/awanhoster/cloud-sunny.png" alt=""> Cloud Hosting</h4>
                              <p>Clound Hosting is good fit for those of you who are building personal websites, portfolios, blogs, and other systems</p>
                          </div>
                          <div class="price">
                              <h2>$5.9</h2><h5>/month</h5>
                          </div>
                          <div class="more">
                              <a href="">More Detail</a>
                          </div>
                        </div>
                    </div>
                     
                    <div class="cols">
                        
                        <div class="box">
                          <div class="inbox">
                              <h4><img src="/awanhoster/buildings.png" alt=""> Corporate</h4>
                              <p>Provides business-related hosting services, such as websites or management systems for companies</p>
                          </div>
                          <div class="price">
                              <h2>$5.9</h2><h5>/month</h5>
                          </div>
                          <div class="more">
                              <a href="">More Detail</a>
                          </div>
                        </div>
                    </div>

                    <div class="cols">
                        
                        <div class="box">
                          <div class="inbox">
                              <h4><img src="/awanhoster/cloud-sunny.png" alt=""> Cloud Hosting</h4>
                              <p>Clound Hosting is good fit for those of you who are building personal websites, portfolios, blogs, and other systems</p>
                          </div>
                          <div class="price">
                              <h2>$5.9</h2><h5>/month</h5>
                          </div>
                          <div class="more">
                              <a href="">More Detail</a>
                          </div>
                        </div>
                    </div>

                    <div class="cols">
                        
                        <div class="box">
                          <div class="inbox">
                              <h4><img src="/awanhoster/cloud-sunny.png" alt=""> Cloud Hosting</h4>
                              <p>Clound Hosting is good fit for those of you who are building personal websites, portfolios, blogs, and other systems</p>
                          </div>
                          <div class="price">
                              <h2>$5.9</h2><h5>/month</h5>
                          </div>
                          <div class="more">
                              <a href="">More Detail</a>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="sect5">

            <div class="sect5main">
                <div class="tog">
                    <div class="togc" onclick="wordpress()" id="w">
                        <i class="fa-brands fa-wordpress-simple"></i>
                        <h3>Wordpress</h3>
                    </div>
                    <div class="togc" onclick="magento()" id="m">
                        <i class="fa-brands fa-laravel"></i>
                        <h3>Magento</h3>
                    </div>
                    <div class="togc" onclick="laravel()" id="l">
                        <i class="fa-brands fa-magento"></i>
                        <h3>Laravel</h3>
                    </div>
                    <div class="togc" onclick="php()" id="p">
                        <i class="fa-brands fa-php"></i>
                        <h3>PHP</h3>
                    </div>
                </div>
                <div class="sect5text" id="sect51">
                    <div class="sect5head">
                        <h3>The Best Managed Cloud Hosting for WordPress
                        </h3>    
                    </div>
                    <div class="sect5p">
                      <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away Cloud server related hassles so you can scale your website the way you want.</p>
                    </div>
                    <div class="sect5point">
                     <div class="pr">
                        <div class="pc">
                            <img src="/awanhoster/Vector.png" alt="">
                            <p>Unlimited Bandwidth</p>
                        </div>
                        <div class="pc">
                          <img src="/awanhoster/Vector.png" alt="">
                          <p>Network Speed</p>  
                        </div>
                     </div>
                     <div class="pr">
                      <div class="pc">
                        <img src="/awanhoster/Vector.png" alt="">
                        <p>Turbo Power</p>
                      </div>
                      <div class="pc">
                        <img src="/awanhoster/Vector.png" alt="">
                        <p>Xtreme Freedom</p>
                     </div>
                   </div>
                 </div>
                 <div class="sect5btn">
                   <a href="">More Detail</a>
                 </div>

        </div>
        </section>

        <section class="sect6">
             <div class="sect6main">
                <div class="sect61">
                    <div class="sect6head">
                          <h2>How Our Customer Feel About Us</h2>
                    </div>
                    <div class="btn">
                        <img src="/awanhoster/arrow-down.png" style="rotate: -90deg;" alt="" onclick="scroright()">
                        <img src="/awanhoster/arrow-down.png" style="rotate: 90deg;" alt="" onclick="scroleft()">
                    </div>
                </div>
             </div>
        </section>

        <section class="sect8">
                <div class="sect6r" id="scr">
                    <div class="sec6c">
                        <div class="scroll">
                            <img src="/awanhoster/profile.png" alt="">
                            <div class="star23">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="sec6c" id="scrollrow">
                        <div class="scroll">
                            <img src="/awanhoster/profile.png" alt="">
                            <div class="star">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="sec6c">
                        <div class="scroll"> 
                            <img src="/awanhoster/profile.png" alt="">
                            <div class="star">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="sec6c">
                        <div class="scroll">
                            <img src="/awanhoster/profile.png" alt="">
                            <div class="star">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="sec6c">
                        <div class="scroll">
                            <img src="/awanhoster/profile.png" alt="">
                            <div class="star">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                    <div class="sec6c">
                        <div class="scroll">
                            <img src="/awanhoster/profile.png" alt="">
                          <div class="star">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                                <img src="/awanhoster/Star 2.png" alt="">
                            </div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished</p>
                            <h3>Guy Hawkins</h3>
                            <p>Manager</p>
                        </div>
                        
                    </div>
                </div>
             </div>
        </section>

        <section class="sect7">
             <div class="sect7main">
                <div class="sect7text">
                   <div class="sect7h">
                        <h2>Try It Now and Stop Doubting Anything Else</h2>
                   </div>
                   <div class="sect7p">
                          <p>with Awan Hoster's Money Back Guarantee,you cabtry the best service reliability</p>
                   </div>
                   <div class="sect7btn">
                      <input type="button" value="Start Fee Trial" class="trial">
                      <input type="button" value="See All Plans" class="plans">
                   </div>
                </div>
                <div class="sect7img">
                    <img src="/awanhoster/Group 1000008788.png" alt="">
                </div>
             </div>
        </section>
    </main>

     <footer>

        <div class="footermain">
             <div class="flogo">
                <div class="f11">
                    <img src="/awanhoster/logo-white.png" alt="">
                </div>
                <div class="f22">
                    <p>We provide you with the best hosting solutions for your website.</p>
                </div>
                 <div class="licon">
                     <i class="fa-brands fa-facebook"></i>
                     <i class="fa-brands fa-twitter"></i>
                     <i class="fa-brands fa-instagram"></i>
                     <i class="fa-brands fa-youtube"></i>
                     <i class="fa-brands fa-discord"></i>
                 </div>
             </div>
             <div class="f44">
                <div class="lastsect">
                    <ul>
                    <h3>Company</h3>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Leadership</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Legal</a></li>
                </ul>
                </div>
                <div class="lastsect">
                    <ul>
                    <h3>Products</h3>
                    <li><a href="">API</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Release Notes</a></li>
                </ul>
                </div>
                <div class="lastsect">
                    <ul>
                        <h3>Contact</h3>
                    <li><a href="">Support</a></li>
                    <li><a href="">Sales</a></li>
                    <li><a href="">Report Abuse</a></li>
                    <li><a href="">System Status</a></li>
                    </ul>
                </div>
             </div>
        </div>
     </footer>
</body>
<script src="/awanhoster/javascript.js"></script>
</html>