body{
    background-color: blanchedalmond;
}
table{
    border: 2px solid black;
    /* width: 100%;
    height: 100%; */
    border-collapse: collapse;
    
}
table td{
    border: 2px solid black;
}
table tr,td{
    width: 100px;
    height: 100px;
}
td{
    text-align: center;
}