<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="/Table/table.css">
</head>
<body>
    <h1 align="center">Hareshkumar Chauhan 24DEV006 01/02/2024</h1>
    <div class="row">
        <label for="row">Row insert / delete </label>
        <input type="button" value="+" onclick="addRow()">
        <input type="button" value="-" onclick="removeRow()">
        
        <label for="column">Column insert / delete</label>
       <input type="button" value="+" onclick="addColumn()">
       <input type="button" value="-" onclick="removeColumn()">
    </div>
    <table id="tab" align="center">
        <tr>
            <td ></td>
            <td></td>
        </tr>
        <tr>
            <td ></td>
            <td></td>
        </tr>
    </table>


</body>
<script src="/Table/table.js"></script>
</html>