<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/Table-Game/Game.css">
</head>
<body>
    <h1 align="center">Hareshkumar Chauhan 24DEV006 02/02/2024 10:42 to 3:25</h1>
    <div id="score">
        Score is : 0
    </div>
    <div id="time">
     15
     </div>
     <input type="button" value="Start Game" onclick="start()">
  <table id="table"  align="center">
    
          <tr>
            <td id="click"></td>
            <td class="non"></td>
          </tr>
          <tr>
            <td class="non"></td>
            <td class="non"></td>
          </tr>
  </table>    
  
</body>
<script src="/Table-Game/Game.js">

</script>
</html>