<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/ehya/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">

        <header>
            <div class="header">
                <div class="logo">
                   <img src="/ehya/Logo.svg" alt="">
                </div>               
                    <nav class="nav">
                        <div class="list">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Landings  <i class="fa-solid fa-angle-down"></i></a></li>
                                <li><a href="#">Pages  <i class="fa-solid fa-angle-down"></i></a></li>
                                <li><a href="#">Docs</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <div>
                            <input type="button" value="Get it now" id="btn">
                        </div>
                    </nav>
            </div>
        </header>


        <main class="main">

            <section class="sect1">
                <div class="sect1main">
                   <div class="sect1img">
                      <img src="/ehya/Hero.png" alt="">
                   </div>
                   <div class="sect1text">
                       <div class="s1t1">
                           <h2>
                            Make your new life happier.
                           </h2>
                       </div>
                       <div class="s1t2">
                        <p>We work with several leading insurance companies to secure insurance coverages tailored to meet your needs.</p>
                       </div>
                       <div class="s1t3">
                        <input type="button" value="Get a consultation">
                       </div>
                   </div>
                </div>
            </section>

            <section class="sect2">
            <div class="sect2main">

               <div class="sect2text">
                  <div class="sect21">
                    <p class="ser">OUR SERVICES</p>
                  </div>
                  <div class="sect22">
                    <h2>Insurance made Simple for you</h2>
                  </div>
                  <div class="sect23">
                    <p class="ser2">We work with several leading insurance companies to secure insurance </p>
                  </div>
                  <div class="sect25">
                    <p>coverages tailored to meet your needs.</p>
                  </div>
                  <div class="sect24">
                    <ul>
                        <li><i class="fa-solid fa-circle-check"></i> &nbsp;&nbsp;&nbsp;Flexible products to make your life easier</li>
                        <li><i class="fa-solid fa-circle-check"></i> &nbsp;&nbsp;&nbsp;Highest standards of service</li>
                        <li><i class="fa-solid fa-circle-check"></i> &nbsp;&nbsp;&nbsp;Fast and reliable service</li>
                     </ul>
                  </div>
               </div>
               <div class="sect2box">
                <div class="box">
                    <div class="card">
                      <img src="/ehya/Icon_Home.svg" alt="">
                      <h3>Home insurance</h3>
                      <p>Home insurance is a type of insurance policy that provides cover for your home.</p>
                      <a href="#">Learn more &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                      <img src="/ehya/Icon_Blood_Donation.svg" alt="#">
                      <h3>Life insurance</h3>
                      <p>Helping you bridge gaps in your health care coverage during times of transition</p>
                      <a href="#">Learn more &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                    </div>

                </div>
                <div class="box">
                    <div class="card">
                      <img src="/ehya/Icon_Car.svg" alt="">
                      <h3>Car insurance</h3>
                      <p>car insurance is a type of insurance policy that provides cover for your car.</p>
                      <a href="#">Learn more &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
               </div>
             </div>
            </section>

            <section class="sect3">

                <div class="sect3main">
                     
                    <div class="sect2text">
                        <div class="sect21">
                            <p>OUR TIPS FOR YOU</p>
                        </div>
                        <div class="sect22">
                            <h2>Reinventing your protection</h2>
                        </div>
                        <div class="sect23">
                            <p>We shere common trends,strategies ideas,opinions,short &long </p>
                        </div>
                        <div class="sect25">
                            <p>strories from the team behind company.</p>
                        </div>

                    <div class="sect3img">

                        <div class="imgmain">
                            
                            <div class="sect31">
                               <img src="/ehya/Image.png" alt="">
                               <p class="imgtext1">How to prevent and protect your family from Carbon monoxide</p>
                           </div>
                            <div class="sect31">
                               <img src="/ehya/Image2.png" alt="">
                               <p class="imgtext2">Motherhood is the hardest and the best job ever</p>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
           
            <section class="sect4">
          
                <div class="sect4main">
                    <div class="sect41">

                        <div class="sect4text">
                           <div class="sect412">
                               <p>YOUR BENEFITS</p>
                               <h2>We're your right insurance advovate</h2>
                            </div>
                        </div>
                        <div class="sect4text">
                           <div class="sect4img">
                               <img src="/ehya/Donation.svg" alt="">
                               <h3>We have the best prices</h3>
                               <p>Our insurance plans offers are priced the same everywhere else.We just make them easier for you to find.</p>
                           </div>
                        </div>
                        <div class="sect4text">
                           <div class="sect4img">
                               <img src="/ehya/Icon_Protection.svg" alt="">
                               <h3>We're your insurance advocate</h3>
                               <p>We will deal the insurance companies for you, even after you've bought your plan.</p>
                            </div>
                        </div>
                    </div>
                <div class="sect41">
                        
                        <div class="sect42">
                           <div>
                               <img src="/ehya/Icon_Neutron.svg" alt="">
                               <h3>We're unbiased</h3>
                               <p>Our online tools help you decide what product is best for you.We're here to insurance plan you choose.</p>
                           </div>
                        </div>
                        <div class="sect42">
                           <div>
                               <img src="/ehya/Icon_CS.svg" alt="">
                               <h3>We're available 24/7</h3>
                               <p>We have you back 24/7 between our online chat function, email and telephone support.</p>
                           </div>
                        </div>
                        <div class="sect42">
                            <div>
                                <img src="/ehya/Icon_Like.svg" alt="">
                                <h3>We make insurance simple</h3>
                                <p>We're committed to making applying for insurance as simple as can be for our customers.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <section class="sect5">

                <div class="sect5main">
                   
                    <div class="sect51">
                          <div class="img">
                            <img src="/ehya/Avatar.png" alt="">
                            <img src="/ehya/Avatar-1.png" alt="">
                            <img src="/ehya/Avatar-2.png" alt="">
                          </div>
                          <p><b>Friendly </b>customer support team</p>
                    </div>
                    <hr>
                    <div class="sect52">
                        <div class="trust">
                            <img src="/ehya/Path.svg" alt="">
                            <h2>Trustpilot</h2>
                        </div>
                        <div class="star">
                            <img src="/ehya/s.svg" alt="">
                            <img src="/ehya/s.svg" alt="">
                            <img src="/ehya/s.svg" alt="">
                            <img src="/ehya/s.svg" alt="">
                            <img src="/ehya/s.svg" alt="">
                        </div>
                        <div class="rating">
                            <p class="p1"><b>4.6 out of 5 stars</b> from 8.6k &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reviews</p>
                        </div>
                    </div>
                     <hr>
                        <div class="img33">
                            <img src="/ehya/Icon_Like.svg" alt="">
                            <p class="p3">We're making <b>insurance as</b></p>
                                <p class="p4"><b>simple as </b>can be</p>
                    </div>
                </div>

            </section>

        </main>

        <footer class="foot">
            <div class="sect6main">
                <div class="ftl">
                    <img src="/ehya/Logo_white.svg" alt="">
                    <p style="width: 250px;">Build a modern and creative website with crealand</p>
                    <div class="icon">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="text">
                  <p>Ready to get insured? Submit your request and hear back as soon as tomorrow</p>
        
                  <div class="inp">
                    <input type="text" placeholder="Your Email">
                    <input type="button" value="Get started" >
                  </div>
                  <p class="footer">Copyright &copy; 2019. Crafted with love.</p>
                </div>
             </div>
        </footer>

    </div>
</body>
</html>