<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX</title>
    <link rel="stylesheet" href="/Hirex/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="head">
        <div class="mainhead">
            <div class="logo">
                <img src="/Hirex/HireX_black.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">Works</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Contact us</a></li>

                </ul>
            </div>
            <div class="btn">
                <a href="">We're Hiring<img src="/Hirex/arrow-right.png" alt=""></a>
            </div>
        </div>
    </header>

    <main>

        <section class="sect1">

            <div class="sect1main">
                <div class="sect1text">
                    <div class="sect11">
                        <h3>WELCOME TO HIREX.</h3>
                        <img src="/Hirex/Star 1.png" alt="">
                    </div>
                    <div class="sect12">
                        <h2>Award Winning Digital Agency.</h2>
                    </div>
                    <div class="sect13">
                        <p>Digital Agency offering unique solutions to create digital presence and increase your sales.
                        </p>
                    </div>
                    <div class="sect14">
                        <input type="text" name="email" id="" placeholder="Your email address">
                        <input type="button" value="Request access" id="access">
                    </div>
                    <div class="sect15">
                        <p>Open account and get 5 boxes</p>
                    </div>
                </div>
                <div class="sect1img">
                    <div class="web">
                        <img src="/Hirex/image 2 (Traced).png" alt="">
                        <h3>Web Design</h3>
                    </div>
                    <div class="social">
                        <img src="/Hirex/image 6 (Traced).png" alt="">
                        <h3>Social Midia</h3>
                    </div>
                    <div class="uix">
                        <h3>UIX Design</h3>
                        <img src="/Hirex/image 1 (Traced).png" alt="">
                    </div>
                    <div class="new">
                        <img src="/Hirex/Group 6.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="sect2">

            <div class="sect2main">
                <div class="anim">
                    <h2>
                        GET ACCESS NOW!
                    </h2>
                    <img src="/Hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/Hirex/Line 4.png" alt="" class="line">
                </div>

                <div class="anim">
                    <h2>
                        GET ACCESS NOW!
                    </h2>
                    <img src="/Hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/Hirex/Line 4.png" alt="" class="line">
                </div>

                <div class="anim">
                    <h2>
                        GET ACCESS NOW!
                    </h2>
                    <img src="/Hirex/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img src="/Hirex/Line 4.png" alt="" class="line">
                </div>

            </div>
        </section>

        <section class="sect3">
            <div class="sect3main">

                <div class="sect3text">
                    <div class="sect31">
                        <h3>Services</h3>
                    </div>
                    <div class="sect32">
                        <h2>How Hirex. Work</h2>
                    </div>
                    <div class="sect33">
                        <p>The awesome people who makes all this possible</p>
                    </div>
                </div>
                <div class="sect3img">
                    <div class="sect34">
                        <div class="cols">
                            <div class="sect341">
                                <h3>START HERE</h3>
                            </div>
                            <div class="sect342">
                                <h2>Who We are & what we do</h2>
                            </div>
                            <div class="sect343">
                                <img src="/Hirex/Designer _Flatline 1.png" alt="">
                            </div>
                            <div class="sect3441">
                                <a href="">START HERE <img src="/Hirex/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="sect34">
                        <div class="cols">

                            <div class="sect341">
                                <h3>CUSTOM DESIGN</h3>
                            </div>
                            <div class="sect342">
                                <h2>We'll design your projects</h2>
                            </div>
                            <div class="sect343">
                                <img src="/Hirex/Notifications_Flatline 1.png" alt="">
                            </div>
                            <div class="sect3442">
                                <a href="">START HERE <img src="/Hirex/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="sect34">
                        <div class="cols">
                            <div class="sect341">
                                <h3>CONTACT US</h3>
                            </div>
                            <div class="sect342">
                                <h2>Drop us your message!</h2>
                            </div>
                            <div class="sect343">
                                <img src="/Hirex/Fortnite_Two Color 1.png" alt="">
                            </div>
                            <div class="sect3443">
                                <a href="">START HERE <img src="/Hirex/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="sect4">
            <div class="sect4main">

                <div class="sect4text">
                    <div class="sect41">
                        <h3>Works</h3>
                    </div>
                    <div class="sect42">
                        <h2>Find our latetest works</h2>
                    </div>
                    <div class="sect43">
                        <p>The awesome people who makes all this possible</p>
                    </div>
                </div>
                <div class="sect4img">
                    <div class="sect44">
                        <div class="sect4cols">
                            <div class="sect441">
                                <img src="/Hirex/Rectangle 13.png" alt="">
                            </div>
                            <div class="sect442">
                                <input type="button" value="Web design">
                            </div>
                            <div class="sect443">
                                <h3>Website Design For Digital Agency</h3>
                            </div>
                            <div class="sect444">
                                <p>Build a unique Website with HireX Template</p>
                            </div>
                            <div class="sect445">
                                <a href="">Read more <img src="/Hirex/arrow-right-black.svg" alt=""></a>
                            </div>

                        </div>
                        <div class="sect4cols">
                            <div class="sect441">
                                <img src="/Hirex/Rectangle 13-1.png" alt="">
                            </div>
                            <div class="sect442">
                                <input type="button" value="3D Design">
                            </div>
                            <div class="sect443">
                                <h3>Realistic 3d Model of Living Room</h3>
                            </div>
                            <div class="sect444">
                                <p>Build a unique Website with HireX Template</p>
                            </div>
                            <div class="sect445">
                                <a href="">Read more <img src="/Hirex/arrow-right-black.svg" alt=""></a>
                            </div>

                        </div>
                        <div class="sect4btn">
                            <a href="">View All <img src="/Hirex/arrow-right-black.svg" alt=""></a>
                        </div>
                    </div>

                </div>
        </section>

        <!-- actual sect 5 -->
        <section class="sect5">
            <div class="sect5main">

                <div class="sect5text">

                    <div class="sect52">
                        <h2>Plans & Pricing</h2>
                    </div>
                    <div class="sect53">
                        <p>The awesome people who makes all this possible</p>
                    </div>
                </div>
                <div class="sect5img">
                    <div class="sect54">
                        <div class="sect5cols" id="cols1">
                            <div class="sect541">
                                <h3>Free</h3>
                            </div>
                            <div class="sect542">
                                <h2><strong>$0</strong> /MONTH </h2>
                            </div>
                            <div class="sect543">
                                <p>Start free while you learn more about our services</p>
                            </div>
                            <hr>
                            <div class="sect545">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Free forever get the basic essentials
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced security and performance
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited unhosted sites
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Live support
                                    </li>
                                </ul>
                            </div>
                            <div class="sect5461">
                                <a href="">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                    <div class="sect54">
                        <div class="sect5cols" id="cols2">

                            <div class="sect541">
                                <h3>BASIC</h3>
                            </div>
                            <div class="sect542">
                                <h2><strong>$19 </strong> /MONTH </h2>
                            </div>
                            <div class="sect543">
                                <p>Get powerful tools to make your business grow</p>
                            </div>
                            <hr>
                            <div class="sect545">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Free forever get the basic essentials
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced security and performance
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited unhosted sites
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Live support
                                    </li>
                                </ul>
                            </div>
                            <div class="sect5462">
                                <a href="">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                    <div class="sect54">
                        <div class="sect5cols" id="cols3">
                            <div class="sect541">
                                <h3>PRO</h3>
                            </div>
                            <div class="sect542">
                                <h2><strong>$99 </strong> /MONTH </h2>
                            </div>
                            <div class="sect543">
                                <P>Take your business to the next level with our tools</P>
                            </div>
                            <hr>
                            <div class="sect545">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Free forever get the basic essentials
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Advanced security and performance
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i> Unlimited unhosted sites
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Live support
                                    </li>
                                </ul>
                            </div>
                            <div class="sect5463">
                                <a href="">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="sect9">
            <div class="sect9main">
                <div class="sect94">
                    <img src="/Hirex/arrow-left-2.png" alt="" onclick="scrleft()">
                </div>
                <div class="sect97">
                    <img src="/Hirex/arrow-right-2.png" alt="" onclick="scright()">
                </div>
                <div class="row" id="scr">
                    <div class="column">

                        <div class="sect9img">
                            <div class="sect91">
                                <img src="/Hirex/testimonials-img.png" alt="">
                            </div>
                            <div class="sect92">
                                <input type="button" value="@mase.place">
                            </div>
                            <div class="sect93">
                                <img src="/Hirex/arrow_top-right.png" alt="">
                            </div>
                        </div>
                        <div class="sect9text">
                            <div class="sect95">
                                <p>"We select to practice in Minerva since it is both
                                    useful, and our clients basically adore it! It has
                                    stood the test of time and proceeds"
                                </p>
                            </div>
                            <div class="sect96">
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase of more than 3.2 million followers on the platform.
                                </p>
                               
                            </div>
                        </div>
                    </div>


                    <div class="column">

                        <div class="sect9img">
                            <div class="sect91">
                                <img src="/Hirex/testimonials-img.png" alt="">
                            </div>
                            <div class="sect92">
                                <input type="button" value="@mase.place">
                            </div>
                            <div class="sect93">
                                <img src="/Hirex/arrow_top-right.png" alt="">
                            </div>
                           
                        </div>
                        <div class="sect9text">
                            <div class="sect95">
                                <p>"We select to practice in Minerva since it is both
                                    useful, and our clients basically adore it! It has
                                    stood the test of time and proceeds"
                                </p>
                            </div>
                            <div class="sect96">
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase of more than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="sect6">
            <div class="sect6main">

                <div class="sect6text">
                    <div class="sect61">
                        <h3>Blog</h3>
                    </div>
                    <div class="sect62">
                        <h2>Stay updated</h2>
                    </div>
                </div>
                <div class="sect6img">
                    <div class="sect64">
                        <div class="sect6cols">
                            <div class="sect641">
                                <img src="/Hirex/Rectangle 19.png" alt="">
                            </div>
                            <div class="sect642">
                                <input type="button" value="Web design">
                            </div>
                            <div class="sect643">
                                <h3>We Launch Minerva Template this Week!</h3>
                            </div>
                            <div class="sect644">
                                <p>Build a unique Website with HireX Template</p>
                            </div>
                            <div class="sect645">
                                <a href="">Read more <img src="/Hirex/arrow-right-black.svg" alt=""></a>
                            </div>

                        </div>
                        <div class="sect6cols">
                            <div class="sect641">
                                <img src="/Hirex/Rectangle 20.png" alt="">
                            </div>
                            <div class="sect642">
                                <input type="button" value="Web Design">
                            </div>
                            <div class="sect643">
                                <h3>Introducing the Non-Code Webflow Guide</h3>
                            </div>
                            <div class="sect644">
                                <p>Build a unique Website with HireX Template</p>
                            </div>
                            <div class="sect645">
                                <a href="">Read more <img src="/Hirex/arrow-right-black.svg" alt=""></a>
                            </div>

                        </div>
                    </div>

                </div>
        </section>

        <section class="sect7">

            <div class="sect7main">
                <div class="sect7form">
                    <div class="sect71">
                        <h2>Get our latests news & updates</h2>
                    </div>
                    <div class="sect72">
                        <form action="">
                            <input type="text" name="" id="" placeholder="Name">
                            <input type="text" name="" id="" placeholder="Email">
                            <div class="sect7btn">
                                <input type="button" name="" id="sub" value="Subscribe">
                                <img src="/Hirex/arrow-right-black.svg" alt="">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sect7text">
                    <div class="sect73">
                        <p>We select to practice in Minerva since it is both useful and commonsense,and our clients
                            basically adore it</p>
                    </div>
                    <div class="sect74">
                        <input type="button" value="Book a Call">
                    </div>
                </div>
            </div>
        </section>

        <section class="sect8">

            <div class="sect8main">
                <div class="anim8">
                    <h2>
                        THANK YOU FOR YOUR VISIT
                    </h2>
                    <img src="/Hirex/Line 4.png" alt="">
                </div>

                <div class="anim8">
                    <h2>
                        THANK YOU FOR YOUR VISIT
                    </h2>
                    <img src="/Hirex/Group 59.png" alt="">
                </div>

                <div class="anim8">
                    <h2>
                        THANK YOU FOR YOUR VISIT
                    </h2>
                    <img src="/Hirex/Line 4.png" alt="">
                </div>

            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="footmain">
            <div class="fhead">
                <h2>HireX.</h2>
                <hr>
            </div>
            <div class="fbody">
                <div class="flist">
                    <h3>Products</h3>
                    <ul>
                        <li>
                            <h2>Platform</h2>
                        </li>
                        <li>
                            <h2>Store Overview</h2>
                        </li>
                        <li>
                            <h2>Email Reports</h2>
                        </li>
                        <li>
                            <h2>Portfolio</h2>
                        </li>
                    </ul>
                </div>
                <div class="flist">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <h2>Case Studies</h2>
                        </li>
                        <li>
                            <h2>Product Guides</h2>
                        </li>
                        <li>
                            <h2>Reports</h2>
                        </li>
                        <li>
                            <h2>Blog</h2>
                        </li>
                        <li>
                            <h2>FAQ</h2>
                        </li>
                    </ul>
                </div>
                <div class="flist">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <h2>Careers</h2>
                        </li>
                        <li>
                            <h2>Contact Sales</h2>
                        </li>
                        <li>
                            <h2>Contact Support</h2>
                        </li>
                    </ul>
                </div>
                <div class="flist">
                    <h3>Partners</h3>
                    <ul>
                        <li>
                            <h2>Partner With US</h2>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ff">
                <div class="ff1">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="ff2">
                    <p>&copy;HIREX, Inc. 2022</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script>
    function scright() {
        document.getElementById("scr").scrollBy({
            left: 1370,
            behavior: "smooth",
        });
    }

    function scrleft() {
        
        document.getElementById("scr").scrollBy({
            left: -1370,
            behavior: "smooth",
        });
    }
</script>

</html>